<div class="main-menu ">
    <div id="shopify-section-ss-mainmenu" class="shopify-section">
        <div class="main-megamenu">
            <nav class="main-wrap">
                <%= render "erp/quangminh/frontend/modules/header/desktop_menu" %>
                <div class="btn-mobile hidden-destop hidden-lg hidden-md">
                    <div id="canvas-menu-mobile" class="button-mobile">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <p class="menu-text hidden">menu</p>
                    </div>
                </div>
            </nav>
        </div>
        <div class="navigation-mobile mobile-menu hidden-lg hidden-md">
            <%= render "erp/quangminh/frontend/modules/header/mobile_menu" %>
        </div>
    </div>
    <div class="hidden-lg hidden-md header-search">
        <%= render "erp/quangminh/frontend/modules/header/mobile_search" %>
    </div>
</div>