<div class="header-top compad_hidden">
    <div class="header-top-left form-inline">
        <div class="header-left">            
            <div class="wishlist lh35 hidden-sm  hidden-xs ">
                <a href="" title="">
                    <i class="icon-left fa fa-circle"></i>
                    Giới thiệu
                </a>
            </div>
            <div class="wishlist lh35 hidden-sm  hidden-xs ">
                <a href="" title="">
                    <i class="icon-left fa fa-circle"></i>
                    Liên hệ
                </a>
            </div>
            <div class="wishlist lh35 hidden-sm  hidden-xs ">
                <a href="" title="">
                    <i class="icon-left fa fa-opencart"></i>
                    Hướng dẫn mua hàng
                </a>
            </div>
            <div class="dropdown language-theme mgl">
                <button class="btn btn-primary dropdown-toggle lh35" type="button" data-toggle="dropdown">
                    <img src="/quangminh/img/vi.png" alt="English" />
                    Tiếng Việt <span class="fa fa-caret-down"></span>
                </button>
            </div>            
            <div class="header-search hidden-sm hidden-xs ">
                <div class="search-header-w">
                    <div class="btn btn-search-mobi hidden">
                        <i class="fa fa-search"></i>
                    </div>
                    <div class="form_search">
                        <form class="formSearch" >
                            <input type="hidden" name="type" value="product">
                            <input class="form-control" type="search" name="q" value="" placeholder="Nhập từ khóa tìm kiếm... " autocomplete="off" />
                            <button class="btn btn-search" type="submit">
                                <span class="btnSearchText  hidden">Search</span>
                                <i class="fa fa-search"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>