<% content_for :title do %>
    <%= t('.dashboard') %>
<% end %>

<div class="note note-info image-dashboard">
    <%= image_tag "/backend/images/img-dashboard.png", alt: "Đồ Gỗ Việt Quang Minh", class: "img-dashboard" %>
</div>