<div class="block widget-prd-featured spaceBlock">
    <h3 class="block-title"><strong><span>Best Sellers</span></strong></h3>
    <div class="wrap">
        <div class="product-item clearfix  on-sale">
            <a href="/products/donec-vel-venen-mauris" class="product-img">
                <img src="//cdn.shopify.com/s/files/1/2660/9830/products/22_c90c3110-29e7-4a4c-b5ff-e1b0f4e718ca_110x110.jpg?v=1513933884" alt="Donec vel venen mauris">
            </a>
            <div class="product-info">
                <h4><a href="/products/donec-vel-venen-mauris" title="Donec vel venen mauris" class="product-name">Donec vel venen mauris</a></h4>
                <div class="custom-reviews a-left hidden-xs">
                    <span class="shopify-product-reviews-badge" data-id="35393896492"></span>
                </div>
                <div class="price">
                    <!-- snippet/product-price.liquid -->
                    <span class="visually-hidden">Regular price</span>
                    <span class="price-new"><span class='money'>$120.00</span></span>
                    <span class="price-old"> <span class='money'>$160.00</span> </span>
                </div>
            </div>
        </div>
        <div class="product-item clearfix  on-sale">
            <a href="/products/donec-vel-venenatis" class="product-img">
                <img src="//cdn.shopify.com/s/files/1/2660/9830/products/24_0bb04dbc-07d7-4039-96d6-ab621c26718b_110x110.jpg?v=1513933944" alt="donec vel venenatis">
            </a>
            <div class="product-info">
                <h4><a href="/products/donec-vel-venenatis" title="donec vel venenatis" class="product-name">donec vel venenatis</a></h4>
                <div class="custom-reviews a-left hidden-xs">
                    <span class="shopify-product-reviews-badge" data-id="33807106092"></span>
                </div>
                <div class="price">
                    <!-- snippet/product-price.liquid -->
                    <span class="visually-hidden">Regular price</span>
                    <span class="price-new"><span class='money'>$120.00</span></span>
                    <span class="price-old"> <span class='money'>$190.00</span> </span>
                </div>
            </div>
        </div>
        <div class="product-item clearfix  on-sale">
            <a href="/products/balans-chair" class="product-img">
                <img src="//cdn.shopify.com/s/files/1/2660/9830/products/21_35ea3f7b-f46b-4f86-816f-5227c4b3d403_110x110.jpg?v=1513933825" alt="Donec vel venen mauris">
            </a>
            <div class="product-info">
                <h4><a href="/products/balans-chair" title="Donec vel venen mauris" class="product-name">Donec vel venen mauris</a></h4>
                <div class="custom-reviews a-left hidden-xs">
                    <span class="shopify-product-reviews-badge" data-id="33793605676"></span>
                </div>
                <div class="price">
                    <!-- snippet/product-price.liquid -->
                    <span class="visually-hidden">Regular price</span>
                    <span class="price-new"><span class='money'>$120.00</span></span>
                    <span class="price-old"> <span class='money'>$160.00</span> </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="block widget-tags spaceBlock">
    <h3 class="block-title"><strong><span>Product Tags</span></strong></h3>
    <div class="block-content">
        <ul>
            <li><a href="/collections/all/0-99" title="">0 - $99</a></li>
            <li><a href="/collections/all/black" title="">Black</a></li>
            <li><a href="/collections/all/deal-2018-11-10" title="">deal 2018/11/10</a></li>
            <li><a href="/collections/all/new" title="">New</a></li>
            <li><a href="/collections/all/red" title="">Red</a></li>
            <li><a href="/collections/all/white" title="">White</a></li>
        </ul>
    </div>
</div>
<div class="block sidebar-banner spaceBlock banners">
    <div>
        <a href="#" title="">
            <img class="img-responsive" alt="ss-furnicom" src="//cdn.shopify.com/s/files/1/2660/9830/files/scsc.png?v=1514191065" />
        </a>
    </div>
</div>