<footer class="site-footer clearfix">
    <div class="footer-1">
        <div class="footer-top">
            <%= render "erp/quangminh/frontend/modules/footer/top" %>
        </div>
        <div style="background: url(/quangminh/img/bg-footer-1024x1024.png) no-repeat center; background-size: cover" class="bg">
            <%= render "erp/quangminh/frontend/modules/footer/center" %>
            <%= render "erp/quangminh/frontend/modules/footer/bottom" %>
        </div>
    </div>
</footer>