<header id="header" class="header header-style1">
    <div class="header-center">
        <div class="container">
            <div class="navbar-logo pull-left">
                <div class="site-header-logo title-heading" itemscope itemtype="http://schema.org/Organization">
                    <a href="<%= erp_quangminh.root_path %>" itemprop="url" class="site-header-logo-image">
                        <img src="/quangminh/img/logo.png" srcset="/quangminh/img/logo.png" alt="" itemprop="">
                    </a>
                </div>
            </div>
            <div class="main-header  pull-left">
                <%= render "erp/quangminh/frontend/modules/header/top" %>
                <%= render "erp/quangminh/frontend/modules/header/main_menu" %>
            </div>
            <div class="header-cart pull-right">
                <%= render "erp/quangminh/frontend/modules/header/mini_cart" %>
            </div>
        </div>
    </div>
</header>