<div class="popup popup-mycart popup-hidden" id="popup-mycart">
    <div class="popup-screen">
        <div class="popup-position">
            <div class="popup-container popup-small">
                <div class="popup-html">
                    <div class="popup-header">
                        <span><i class="fa fa-shopping-cart"></i>Shopping Cart</span>
                        <a class="popup-close" data-target="popup-close" data-popup-close="#popup-mycart">&times;</a>
                    </div>
                    <div class="popup-content">
                        <div class="cart-header">
                            <div class="notification gray no-items">
                                <i class="fa fa-shopping-cart info-icon"></i>
                                <p>Your cart is currently empty.</p>
                            </div>
                            <div class="has-items">
                                <div class="notification gray ">
                                    <p>There are <span class="text-color"><span id="scartcount">3</span> item(s)</span> in your cart</p>
                                </div>
                                <table class="table table-striped list-cart">
                                    <tbody>
                                        <tr>
                                            <td class="text-left first">
                                                <a href="/products/dround-round?variant=253388914732">
                                                    <img class="img-thumbnail img-responsive" src="//cdn.shopify.com/s/files/1/2660/9830/products/25_3ffd51dc-ebd7-4714-a81a-4658acd38b98_80x80.jpg?v=1513934048" alt="Dround round">
                                                </a>
                                            </td>
                                            <td class="text-left">
                                                <a href="/products/dround-round?variant=253388914732">Dround round</a>
                                            </td>
                                            <td class="text-right">x&nbsp;1</td>
                                            <td class="text-right total-price"><span class='money'>$473.00</span></td>
                                            <td class="text-right last">
                                                <a href="javascript:;" data-productId="253388914732" onclick="return confirm('Are you sure you would like to remove this item from the shopping cart?'); return false;" class="btn-remove"><i class="fa fa-trash"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-left first">
                                                <a href="/products/horem-porche?variant=253400547372">
                                                    <img class="img-thumbnail img-responsive" src="//cdn.shopify.com/s/files/1/2660/9830/products/30_80x80.jpg?v=1513935743" alt="Horem porche">
                                                </a>
                                            </td>
                                            <td class="text-left">
                                                <a href="/products/horem-porche?variant=253400547372">Horem porche</a>
                                            </td>
                                            <td class="text-right">x&nbsp;2</td>
                                            <td class="text-right total-price"><span class='money'>$111.00</span></td>
                                            <td class="text-right last">
                                                <a href="javascript:;" data-productId="253400547372" onclick="return confirm('Are you sure you would like to remove this item from the shopping cart?'); return false;" class="btn-remove"><i class="fa fa-trash"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="cart-bottom">
                                    <table class="table table-striped">
                                        <tr>
                                            <td class="text-left"><strong>Subtotal</strong></td>
                                            <td class="text-right"><span class='money'>$695.00</span></td>
                                        </tr>
                                    </table>
                                    <p class="text-center">
                                        <a href="/cart" class="btn btn-view-cart"><strong>View Cart</strong></a>
                                        <a href="/checkout" class="btn btn-checkout"><strong>Checkout</strong></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>