<div class="shopify-section slider-section">
    <div class="widget-slideshow widget-slideshow1 no-margin">
        <div class="col-slider no-padding">
            <div class="tp-banner-container">
                <div class="main-slideshow" data-speed="16000">
                    <ul>
                        <li data-transition="fade" data-slotamount="1" data-masterspeed="1000">
                            <img src="/quangminh/img/slider/slider-01.jpg" alt="" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                            <div class="caption stb lfb a-center" data-x="center" data-y="center" data-speed="500" data-start="800" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power4.easeIn" data-captionhidden="off" style="z-index: 6">
                                <div class="tp-caption-slide-1" style="color: #beae59; font-size: 47px;"><b>FURNITURE</b></div>
                                <div class="tp-caption-slide-2" style="color: #ffffff; font-size: 84px;"><b>COLLECTION</b></div>
                                <div class="tp-caption-button"><a href="" class="slide-link-button" target="_blank" data-text="" style="font-size: 14px; background-color: rgba(0,0,0,0); color: #ffffff">shop now</a></div>
                            </div>
                        </li>
                        <li data-transition="fade" data-slotamount="1" data-masterspeed="1000">
                            <img src="/quangminh/img/slider/slider-02.jpg" alt="" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                            <div class="caption stb lfb a-center" data-x="center" data-y="center" data-speed="500" data-start="800" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power4.easeIn" data-captionhidden="off" style="z-index: 6">
                                <div class="tp-caption-slide-1" style="color: #beae59; font-size: 47px;"><b>FURNITURE</b></div>
                                <div class="tp-caption-slide-2" style="color: #ffffff; font-size: 84px;"><b>COLLECTION</b></div>
                                <div class="tp-caption-button"><a href="#" class="slide-link-button" target="_blank" data-text="" style="font-size: 14px; background-color: rgba(0,0,0,0); color: #ffffff">shop now</a></div>
                            </div>
                        </li>
                        <li data-transition="fade" data-slotamount="1" data-masterspeed="1000">
                            <img src="/quangminh/img/slider/slider-03.jpg" alt="" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                            <div class="caption stb lfb a-center" data-x="center" data-y="center" data-speed="500" data-start="800" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power4.easeIn" data-captionhidden="off" style="z-index: 6">
                                <div class="tp-caption-slide-1" style="color: #beae59; font-size: 47px;"><b>FURNITURE</b></div>
                                <div class="tp-caption-slide-2" style="color: #ffffff; font-size: 84px;"><b>COLLECTION</b></div>
                                <div class="tp-caption-button"><a href="/collections" class="slide-link-button" target="_blank" data-text="" style="font-size: 14px; background-color: rgba(0,0,0,0); color: #ffffff">shop now</a></div>
                            </div>
                        </li>
                    </ul>
                    <div class="tp-bannertimer"></div>
                </div>
            </div>
        </div>
    </div>    
</div>