<div class="model-popup">
    <!--   Popup Cart -->
    <div class="popup_cart bg_1 modal-pu pu-cart">
        <div class="popup_content">
            <div class="container a-center">
                <div class="popup_inner">
                    <a class="popup_close close-pu" href="#" title="">
                        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 37 40">
                            <path d="M21.3 23l11-11c.8-.8.8-2 0-2.8-.8-.8-2-.8-2.8 0l-11 11-11-11c-.8-.8-2-.8-2.8 0-.8.8-.8 2 0 2.8l11 11-11 11c-.8.8-.8 2 0 2.8.4.4.9.6 1.4.6s1-.2 1.4-.6l11-11 11 11c.4.4.9.6 1.4.6s1-.2 1.4-.6c.8-.8.8-2 0-2.8l-11-11z"></path>
                        </svg>
                    </a>
                    <div class="product-image">
                        <img alt="" src="/quangminh/img/products/7-large-crop-center.jpg" style="max-width:100px; height:auto">
                    </div>
                    <div class="product-info">
                        <p class="product-name">Boudin kevin</p>
                        <div class="actions">
                            <button class="btn btn-primary" onclick="window.location='/cart'">View Cart</button>
                            <button class="btn btn-primary" onclick="window.location='/checkout'">Check out</button>
                        </div>
                    </div>
                    <div class="mesenger-noty">
                        <p class="success-message btn-cart">Added To Your Shopping Cart!</p>
                    </div>
                </div>
            </div>
            <div class="popup_bg">&nbsp;</div>
        </div>
    </div>
    <!--   Newleter -->
    <!-- Social Fixed -->
    <div class="socials-wrap hidden-sm hidden-xs">
        <ul>
            <li class="li-social facebook-social">
                <a title="Facebook" href="=" target="_blank">
                    <span class="fa fa-facebook icon-social"></span>
                </a>
            </li>
            <li class="li-social twitter-social">
                <a title="Twitter" href="" target="_blank">
                    <span class="fa fa-twitter icon-social"></span>
                </a>
            </li>
            <li class="li-social google-social">
                <a title="Google+" href="" target="_blank">
                    <span class="fa fa-google-plus icon-social"></span>
                </a>
            </li>
            <li class="li-social pinterest-social">
                <a title="Pinterest" href="" target="_blank">
                    <span class="fa fa-pinterest icon-social"></span>
                </a>
            </li>
            <li class="li-social insta-social">
                <a title="Instagram" href="" target="_blank">
                    <span class="fa fa-instagram icon-social"></span>
                </a>
            </li>
        </ul>
    </div>
    <!--   Loading Icon -->
    <div class="ss-loading" style="display: none;"></div>
</div>