<div class="popup popup-mysearch popup-hidden" id="popup-mysearch">
    <div class="popup-screen">
        <div class="popup-position">
            <div class="popup-container popup-small">
                <div class="popup-html">
                    <div class="popup-header">
                        <span><i class="fa fa-search"></i>Search</span>
                        <a class="popup-close" data-target="popup-close" data-popup-close="#popup-mysearch">&times;</a>
                    </div>
                    <div class="popup-content">
                        <div class="form-content">
                            <div class="row space">
                                <div class="col">
                                    <div class="form-box">
                                        <input type="text" name="search" value="" placeholder="Search" id="input-search" class="field" />
                                        <i class="fa fa-search sbmsearch"></i>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-box">
                                        <button type="button" id="button-search" class="btn button-search">Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>