<div class="popup popup-mycart popup-hidden" id="popup-mycart">
    <div class="popup-screen">
        <div class="popup-position">
            <div class="popup-container popup-small">
                <div class="popup-html">
                    <div class="popup-header">
                        <span>
                            <i class="fa fa-shopping-cart"></i>
                            Shopping Cart
                        </span>
                        <a class="popup-close" data-target="popup-close" data-popup-close="#popup-mycart">&times;</a>
                    </div>
                    <div class="popup-content">
                        <div class="cart-header">
                            <div class="notification gray no-items">
                                <i class="fa fa-shopping-cart info-icon"></i>
                                <p>Your cart is currently empty.</p>
                            </div>
                            <div class="has-items">
                                <div class="notification gray ">
                                    <p>There are
                                        <span class="text-color">
                                            <span id="scartcount">3</span> item(s)
                                        </span> in your cart
                                    </p>
                                </div>
                                <table class="table table-striped list-cart">
                                    <tbody>
                                        <% (0..1).each do |product| %>
                                            <tr>
                                                <td class="text-left first">
                                                    <a href="">
                                                        <img class="img-thumbnail img-responsive" src="/quangminh/img/products/product-80x80.jpg" alt="">
                                                    </a>
                                                </td>
                                                <td class="text-left">
                                                    <a href="">Dround round</a>
                                                </td>
                                                <td class="text-right">x&nbsp;1</td>
                                                <td class="text-right total-price">
                                                    <span class='money'>$473.00</span>
                                                </td>
                                                <td class="text-right last">
                                                    <a href="javascript:;" data-productId="253388914732" onclick="return confirm('Are you sure you would like to remove this item from the shopping cart?'); return false;" class="btn-remove">
                                                        <i class="fa fa-trash"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        <% end %>
                                    </tbody>
                                </table>
                                <div class="cart-bottom">
                                    <table class="table table-striped">
                                        <tr>
                                            <td class="text-left">
                                                <strong>Subtotal</strong>
                                            </td>
                                            <td class="text-right">
                                                <span class='money'>$695.00</span>
                                            </td>
                                        </tr>
                                    </table>
                                    <p class="text-center">
                                        <a href="" class="btn btn-view-cart">
                                            <strong>View Cart</strong>
                                        </a>
                                        <a href="" class="btn btn-checkout">
                                            <strong>Checkout</strong>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>