<div class="popup popup-categories popup-hidden" id="popup-mycategory">
    <div class="popup-screen">
        <div class="popup-position">
            <div class="popup-container popup-small">
                <div class="popup-header">
                    <span><i class="fa fa-align-justify"></i>All Collection</span>
                    <a class="popup-close" data-target="popup-close" data-popup-close="#popup-categories">&times;</a>
                </div>
                <div class="popup-content">
                    <div class="nav-secondary">
                        <ul>
                            <li>
                                <a href="">
                                    <i class="fa fa-chevron-down nav-arrow"></i>
                                    bathroom
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fa fa-chevron-down nav-arrow"></i>
                                    bedroom
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fa fa-chevron-down nav-arrow"></i>
                                    dinning room
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fa fa-chevron-down nav-arrow"></i>
                                    Home page
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fa fa-chevron-down nav-arrow"></i>
                                    kitchen
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fa fa-chevron-down nav-arrow"></i>
                                    living room
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fa fa-chevron-down nav-arrow"></i>
                                    wardrobe
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fa fa-chevron-down nav-arrow"></i>
                                    workplace
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>