<div class="footer-center">
    <div class="container">
        <div class="footer-wrapper row">
            <div class="footer-menu col-lg-3 col-md-3 col-sm-6">
                <div class="footer-block">
                    <h3 class="footer-block-title"> our services</h3>
                    <ul class="footer-block-content">
                        <li>
                            <a href="#">Delivery Information</a>
                        </li>
                        <li>
                            <a href="#">Returns</a>
                        </li>
                        <li>
                            <a href="#">Terms & conditions</a>
                        </li>
                        <li>
                            <a href="#">Shipping & refund</a>
                        </li>
                        <li>
                            <a href="#">Speicals</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-menu col-lg-3 col-md-3 col-sm-6 ft-item ft-2">
                <div class="footer-block">
                    <h3 class="footer-block-title">Extras</h3>
                    <ul class="footer-block-content">
                        <li>
                            <a href="">Contact us</a>
                        </li>
                        <li>
                            <a href="#">Returns</a>
                        </li>
                        <li>
                            <a href="#">Speicals</a>
                        </li>
                        <li>
                            <a href="#">Brands</a>
                        </li>
                        <li>
                            <a href="#">Gift voucher</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-menu col-lg-3 col-md-3 col-sm-6 ft-item ft-3">
                <div class="footer-block">
                    <h3 class="footer-block-title">My Account</h3>
                    <ul class="footer-block-content">
                        <li>
                            <a href="/cart">My orders</a>
                        </li>
                        <li>
                            <a href="#">My credit slips</a>
                        </li>
                        <li>
                            <a href="/pages/contact-us">My addresses</a>
                        </li>
                        <li>
                            <a href="#">My personal info</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 ft-a ft-item ft-3">
                <div class="footer-about footer-block">
                    <h3 class="footer-block-title">THÔNG TIN LIÊN HỆ</h3>
                    <ul>
                        <li class="address">
                            <i class="fa fa-map-marker"></i><span>Megnor Comp Pvt Limited, Trade Centre, Udhana Darwaja</span>
                        </li>
                        <li class="phone">
                            <i class="fa fa-mobile"></i><span>(91)-261 3023333</span>
                        </li>
                        <li class="email">
                            <a href="#">
                                <i class="fa fa-envelope"></i><span>demo@harvest.com</span>
                            </a>
                        </li>
                    </ul>
                    <div class="inner_payment">
                        <a href="#" title="ss-furnicom">
                            <img class="img-payment" alt="ss-furnicom" src="/quangminh/img/payment.png" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="goToTop" class="hidden-xs"><span></span></div>
</div>