<div class="container">
    <div class="row wrap-flex">
        <div class="news-letter col-lg-12 col-md-12 col-xs-12 ">
            <div class="footer-newsletter">
                <div class="title-block">
                    <h3 class="footer-block-title">NEED HELP? CALL OUR AWARD-WINNING</h3>
                    <p class="hidden-sm hidden-xs ">SUPPORT TEAM 24/7 AT (844) 555-8386</p>
                </div>
                <div class="footer-block-content">
                    <div class="newsletter">
                        <form method="post" accept-charset="UTF-8" class="contact-form">
                            <input type="hidden" name="form_type" value="customer" />
                            <input type="hidden" name="utf8" value="✓" />
                            <div class="input-group password__input-group">
                                <input type="hidden" name="" value="newsletter">
                                <div class="input-box">
                                    <input type="email" class="input-group-field" value="" placeholder="Email address">
                                </div>
                                <span class="">
                                    <button type="submit" class="btn newsletter__submit font-ct" name="commit" id="Subscribe">
                                        <i class="fa fa-envelope  hidden"></i>
                                        <span class="newsletter__submit-text--large">Subscribe</span>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>