<section id="breadcrumbs" class="breadcrumbbgimage" style="background: url(/quangminh/img/bg_breadcrumb.png)">
    <div class="breadcrumbwrapper">
        <div class="container">
            <div class="breadcrumbtitle"><h3>Giới Thiệu</h3></div>
            <nav>
                <ol class="breadcrumb">
                    <li><%= link_to '<span>Trang Chủ</span>'.html_safe, erp_quangminh.root_path, title: '' %></li>
                    <li class="active"><span><span>Giới Thiệu</span></span></li>
                </ol>
            </nav>
        </div>
    </div>
</section>
<div class="content-section">
    <div class="page-about">
        <div class="container ">
            <div class="row">
                <div class="col-md-12 welcome-about-us">
                    <div class="content-about-us row">
                        <div class="image-about-us col-md-6 col-sm-12">
                            <%= image_tag '/quangminh/img/img-about-us.png', alt: '', class: 'img-respon' %>
                        </div>
                        <div class="content-about col-md-6 col-sm-12">
                            <div class="title-about-us">
                                <h2>Về <b>QUANG MINH<b><span> 98</span></b></b></h2>
                            </div>
                            <div class="des-about-us text-justify">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu<br><br> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec.
                            </div>
                            <div class="image-signature">
                                <%= image_tag '/quangminh/img/img-signature.png', alt: '', class: 'img-respon' %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>