<section id="breadcrumbs" class="breadcrumbbgimage" style="background: url(/quangminh/img/bg_breadcrumb.png)">
    <div class="breadcrumbwrapper">
        <div class="container">
            <div class="breadcrumbtitle"><h3>Tin Tức</h3></div>
            <nav>
                <ol class="breadcrumb">
                    <li><%= link_to '<span>Trang Chủ</span>'.html_safe, erp_quangminh.root_path, title: '' %></li>
                    <li><%= link_to '<span>Tin Tức</span>'.html_safe, erp_quangminh.blog_listing_path, title: '' %></li>
                    <li class="active"><span><span>Chi Tiết Bài Viết</span></span></li>
                </ol>
            </nav>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="content-section col-xs-12 col-sm-4 col-md-3 col-sidebar">
            <%= render "erp/quangminh/frontend/modules/information/sidebar" %>
        </div>
        <div class="article-detail col-main col-xs-12 col-sm-8 col-md-9 col-main">
            <article class="article">
                <div class="article-info">
                    <div class="shopify-section">
                        <div class="article-img">
                            <%= image_tag '/quangminh/img/blog/blog-detail.jpg', alt: '' %>
                        </div>
                        <div class="section-article-info ">
                            <h1 class="article__title font-ct">Hướng Dẫn Mua Hàng</h1>
                        </div>
                        <div class="rte text-justify" itemprop="articleBody">
                            <p>
                                Khi tìm hướng kê giường trong phòng ngủ, lưu ý không đặt đầu giường dưới xà ngang. Trong phong thủy người ta gọi vị trí này là ‘huyền trâm sát’, sẽ không có lợi cho gia chủ. Nếu bạn mắc phải lỗi này khi đặt giường ngủ, các bạn chỉ cần sửa lại là được.
                                Có ba cách hóa giải khi đặt đầu giường dưới xà ngang. Thứ nhất là bạn xê dịch phần đầu giường tránh khỏi xà ngang là được, cách này khá đơn giản và dễ thực hiện. Không những thế bạn còn có thể đặt tủ sách, giá sách ở đầu giường để tiết kiệm diện tích phòng ngủ, đồng thời không tạo cảm giác trống trải cho đầu giường. Thứ hai, nếu diện tích phòng ngủ nhà bạn nhỏ hẹp, không có nhiều diện tích trống để xê dịch giường gỗ đẹp đi nơi khác thì bạn có thể sử dụng phương pháp che chắn, bằng cách sử dụng trần giả để che đi xà ngang, giảm áp lực về mặt tâm lý. Thứ ba, sử dụng giường hai tầng trong phòng ngủ, tầng dưới dùng để nghỉ ngơi còn tầng trên dùng để cất giữ chăn đệm. Tầng này sẽ làm chức năng che chắn, thay cho bạn chịu những áp dụng do xà ngang ép xuống.
                            </p>
                        </div>
                        <div class="wrap-tag">
                            <ul class="block-content">
                                <li>Nhãn:</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>