<div class="copyright">2019 &copy; Hệ Thống Quản Lý Website <%= link_to "Đồ Gỗ Việt Quang Minh",
                       erp_quangminh.root_path, target: "_blank", title: "Đồ Gỗ Việt Quang Minh" %>.</div>