html, body {
    line-height: 30px;
}
header .logo-header {
    margin-top: 30px;
}
header h1 {
    font-family: 'Open Sans', sans-serif;
}
.page-loader{
    background:#fff;
}
#woodsman_menu > ul > li > a{
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size:14px;
    font-weight:400;
    font-style:normal;
    letter-spacing:0px;
    text-transform:none;
    color:#000;
}
.custom-header #woodsman_menu > ul > li > a{
    color:#fff;
}
#woodsman_menu > ul > li > a:hover span{
    color:#cccccc;
}
#woodsman_menu > ul > li.active > a{
    color:#ffffff;
}
#woodsman_menu > ul > li > ul > li a{
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size:14px;
    font-weight:400;
    font-style:normal;
    letter-spacing:0px;
    text-transform:none;
    color:#fff;
}
#woodsman_menu ul li > ul{
    background:#242830;
}
#woodsman_menu > ul > li > ul > li a:hover{
    color:#fff;
    background:rgba(255, 255, 255, 0.03);
}
.slicknav_menu .slicknav_menutxt, .slicknav_nav ul, .slicknav_nav a, .slicknav_arrow, .slicknav_nav a:hover{
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size:13px;
    font-weight:400;
    font-style:normal;
    letter-spacing:1px;
    text-transform:uppercase;
    color:#fff;
}
.slicknav_nav a.slicknav_item:hover, .slicknav_nav ul > li.menu-item a:hover, .slicknav_nav ul > li > ul li.menu-item a:hover{
    background:rgba(255, 255, 255, 0.03);
}
.slicknav_menu .slicknav_icon-bar{
    background:#fff;
}
.slicknav_btn, .slicknav_nav ul{
    background:#242830;
}
.backstretch:after, #video:after{
    background-image:url("../img/overlay.png");
}
.backstretch::after, #video:after{
    background-color:rgba(0,0,0,0.2);
}
header .logo a{
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size:25px;
    font-weight:300;
    font-style:normal;
    letter-spacing:0px;
    text-transform:none;
    color:#000;
}
header.custom-header .logo a{
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size:30px;
    font-weight:300;
    font-style:normal;
    letter-spacing:0px;
    text-transform:none;
    color:#fff;
}
body{
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size:14px;
    font-weight:400;
    font-style:normal;
    letter-spacing:0px;
    text-transform:none;
}
h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight:500;
    font-style:normal;
    letter-spacing:0px;
    text-transform:uppercase;
}
.services-box h2, .team h2, .google-container .contact-box h3{
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight:600;
    font-style:normal;
    text-transform:uppercase;
}
.time_circles > div > h4{
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight:200;
    font-style:normal;
    text-transform:uppercase;
}
.post-button a, .pagination a, .pagination span, #comments input[type='submit'], .post-navigation .prev-button a, .post-navigation .next-button a, .comment .reply a, .comment .reply a:hover{
    border-color:#2CC9B4;
}
.post-button a, .pagination span.current, .pagination a:hover, #comments input[type='submit'], .post-navigation .prev-button a, .post-navigation .next-button a, .comment .reply a, .load-more a.loaded{
    background-color:#2CC9B4;
}
.post-button{
    text-align:left;
}
footer{
    background-color:#242830;
}
footer .social-icon li i.fa{
    color:#fff;
}
footer .social-icon li:hover i.fa{
    color:#fff;
}
footer .copyright{
    color:#fff;
}
footer a{
    color:#fff;
}
footer a:hover{
    color:#fff;
}
footer a:focus{
    color:#fff;
}
