<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Đồ Gỗ Việt Quang Minh</title>
    <meta name='robots' content='noindex, follow' >
    <meta name="keywords" content="Đồ gỗ nội thất, đồ gỗ thờ cúng, tủ thờ" >
    <meta name="description" content="Nội Thất Đồ Gỗ Việt Quang Minh xưởng sản xuất đồ gỗ nội thất giá tốt cho gia đình - Chuyên phòng khách, phòng ngủ, phòng bếp, phòng thờ cúng - 096 742 0297" >
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' href='/coming/css/styles.css' type='text/css' media='all'/>
    <link rel='stylesheet' href='/coming/css/bootstrap.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/coming/css/animate.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/coming/css/slicknav.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/coming/css/font-awesome.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/coming/css/owl.carousel.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/coming/css/flexslider.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/coming/css/default-skin.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/coming/css/nivo-lightbox.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/coming/css/main.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/coming/css/custom_style_kirki.css' type='text/css' media='all' />
    <style id='custom_style_kirki-inline-css' type='text/css'>
        #abc { background: #fff; }
    </style>
    <link rel='stylesheet' href='/coming/css/js_composer.min.css' type='text/css' media='all'/>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Roboto:400,500,700,900' type='text/css' media='all' />
    <link rel='stylesheet' href='/coming/css/kirki-styles.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/coming/css/custom.css' type='text/css' media='all' />
    <script type='text/javascript' src='/coming/js/jquery.js'></script>
    <script type='text/javascript' src='/coming/js/jquery-migrate.min.js'></script>    
    <style type="text/css">
        .recentcomments a {
            display:inline !important;
            padding:0 !important;
            margin:0 !important;
        }
    </style>
    <!--[if lte IE 9]>
        <link rel="stylesheet" type="text/css" href="/coming/css/vc_lte_ie9.min.css" media="screen">
    <![endif]-->
    <link rel="icon" href="/coming/img/logo-32x32.png" sizes="32x32" />
    <link rel="icon" href="/coming/img/logo-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="/coming/img/logo-180x180.png" />
    <meta name="msapplication-TileImage" content="/coming/img/logo-270x270.png" />
    <style type="text/css" data-type="vc_shortcodes-custom-css">
        .vc_custom_1507804758460 {
            margin-top: 100px !important;
            margin-bottom: 100px !important;
        }
        .vc_custom_1507845174132 {
            padding-top: 65px !important;
            padding-bottom: 100px !important;
            background-color: #fafbff !important;
        }
        .vc_custom_1507810571628 {
            padding-top: 45px !important;
            padding-bottom: 95px !important;
            background-color: #242831 !important;
        }
        .vc_custom_1507808899961 {
            margin-top: -35px !important;
        }
        .vc_custom_1507806691396 {
            margin-top: 50px !important;
        }
        .vc_custom_1507806695462 {
            margin-top: 50px !important;
        } .vc_custom_1508079327423 {
            margin-top: 50px !important;
        }
    </style>
    <noscript>
        <style type="text/css">
            .wpb_animate_when_almost_visible {
                opacity: 1;
            }
        </style>
    </noscript>
</head>
<body class="page-template page-template-template-coming-soon page-template-template-coming-soon-php page page-id-202 wpb-js-composer js-comp-ver-5.4.2 vc_responsive">
    <script>
        jQuery.noConflict()(function($) {
            $("header").backstretch([
                "/coming/img/quangminh-01.jpg",
                "/coming/img/quangminh-02.jpg",
                "/coming/img/quangminh-03.jpg",
                "/coming/img/quangminh-04.jpg",
                "/coming/img/quangminh-05.jpg",
                "/coming/img/quangminh-06.jpg",
             ],{duration: 3000, fade: 750});
        });
    </script>
    <!-- LOADER TEMPLATE -->
    <div class="page-loader">
        <div class="loader-icon"><img src="/coming/img/spinner.gif" alt=""></div>
    </div>
    <!-- /LOADER TEMPLATE -->
    <!-- HEADER -->
    <header id="top" class="custom-header">
        <div class="header-inner">
            <canvas id="fireworks"></canvas>
            <script>
                var speed = 2;
                var minimum = 35;
                var maximum = 50;
            </script>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="logo-header">
                            <img src="/coming/img/logo-dogovietquangminh.png" width="auto" height="170" alt="">
                        </div>
                        <h1>ĐỒ GỖ VIỆT QUANG MINH</h1>
                        <p>
                            <strong>Website DoGoViet.VN Quang Minh Hiện Đang Được Phát Triển</strong><br>
                            Vui lòng liên hệ theo thông tin sau khi cần giải đáp về sản phẩm hoặc tư vấn nội thất
                            <br><strong>Tên cửa hàng: </strong>Đồ Gỗ Việt Quang Minh | <strong>SĐT: </strong>096 742 0297 (Ms. Nhung)
                            <br><strong>Địa chỉ: </strong>98 Trường Chinh, Phường 12, Quận Tân Bình, TP. Hồ Chí Minh
                        </p>
                        <script>
                            jQuery.noConflict()(function($) {
                                var countdown =  $('.DateCountdown');
                                createTimeCicles();
                                $(window).on('resize', windowSize);
                                function windowSize(){
                                    countdown.TimeCircles().destroy();
                                    createTimeCicles();
                                    countdown.on('webkitAnimationEnd mozAnimationEnd oAnimationEnd animationEnd', function() {
                                    countdown.removeClass('animated fadeIn');
                                });
                            }
                            // TimeCicles - Create and Options
                            function createTimeCicles() {
                                countdown.addClass('animated fadeIn');
                                countdown.TimeCircles({
                                    bg_width: 1,
                                    fg_width: 0.03,
                                    circle_bg_color: 'rgba(255,255,255,0.3)',
                                    time: {
                                        Days: {text: 'ngày', color: '#ffffff'}
                                        ,Hours: {text: 'giờ', color: '#ffffff'}
                                        ,Minutes: {text: 'phút', color: '#ffffff'}
                                        ,Seconds: {text: 'giây', color: '#ffffff'}
                                    }
                                });
                                countdown.on('webkitAnimationEnd mozAnimationEnd oAnimationEnd animationEnd', function() {
                                    countdown.removeClass('animated fadeIn');
                                });
                            }
                        
                        });

                        </script>
                       <!-- COUNTDOWN -->
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <div class="DateCountdown  animated fadeIn" data-date="2019-05-02 01:00:00"></div>
                                </div>
                            </div>
                        </div>
                        <!-- /COUNTDOWN -->                    
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- END HEADER -->

    <!-- Javascript files -->
    <script type="text/javascript">
        (function() {
            function addEventListener(element,event,handler) {
                if(element.addEventListener) {
                    element.addEventListener(event,handler, false);
                } else if(element.attachEvent){
                    element.attachEvent('on'+event,handler);
                }
            }
            function maybePrefixUrlField() {
                if(this.value.trim() !== '' && this.value.indexOf('http') !== 0) {
                    this.value = "http://" + this.value;
                }
            }
            var urlFields = document.querySelectorAll('.mc4wp-form input[type="url"]');
            if( urlFields && urlFields.length > 0 ) {
                for( var j=0; j < urlFields.length; j++ ) {
                    addEventListener(urlFields[j],'blur',maybePrefixUrlField);
                }
            }/* test if browser supports date fields */
            var testInput = document.createElement('input');
            testInput.setAttribute('type', 'date');
            if( testInput.type !== 'date') {
                /* add placeholder & pattern to all date fields */
                var dateFields = document.querySelectorAll('.mc4wp-form input[type="date"]');
                for(var i=0; i<dateFields.length; i++) {
                    if(!dateFields[i].placeholder) {
                        dateFields[i].placeholder = 'YYYY-MM-DD';
                    }
                    if(!dateFields[i].pattern) {
                        dateFields[i].pattern = '[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])';
                    }
                }
            }
        })();
    </script>
    <script type='text/javascript' src='/coming/js/scripts.js'></script>
    <script type='text/javascript' src='/coming/js/time.js'></script>
    <script type='text/javascript' src='/coming/js/flexslider.js'></script>
    <script type='text/javascript' src='/coming/js/isotope.pkgd.min.js'></script>
    <script type='text/javascript' src='/coming/js/slicknav.js'></script>
    <script type='text/javascript' src='/coming/js/wow.js'></script>
    <script type='text/javascript' src='/coming/js/imgloaded.js'></script>
    <script type='text/javascript' src='/coming/js/lightbox.js'></script>
    <script type='text/javascript' src='/coming/js/backstretch.js'></script>
    <script type='text/javascript' src='/coming/js/youtube.js'></script>
    <script type='text/javascript' src='/coming/js/flat-shadow.js'></script>
    <script type='text/javascript' src='/coming/js/main.js'></script>
    <script type='text/javascript' src='/coming/js/fireworks.js'></script>
    <script type='text/javascript' src='/coming/js/wp-embed.min.js'></script>
    <script type='text/javascript' src='/coming/js/js_composer_front.min.js'></script>
    <!--[if lte IE 9]>
        <script type='text/javascript' src='/coming/js/placeholders.min.js'></script>
    <![endif]-->
</body>
</html>